[submodule "leto-resources"]
	path = leto-resources
	url = https://github.com/LetovoLeTo/leto-resources.git
[submodule "leto-main-page"]
	path = leto-main-page
	url = https://github.com/LetovoLeTo/leto-main-page.git
[submodule "leto-map"]
	path = leto-map
	url = https://github.com/LetovoLeTo/leto-map.git
[submodule "leto-sites"]
	path = leto-sites
	url = https://github.com/LetovoLeTo/leto-sites.git
[submodule "leto-homework"]
	path = leto-homework
	url = https://github.com/LetovoLeTo/leto-homework.git
